.app-body {
  margin-top: 20px;
  min-height: 900px;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 80px;
  background-color: #61dafb;
}

footer {
  display: flex;
  align-items: center;
  background-color: silver;
  justify-content: center;
  height: 70px;
}

.nav-wrapper {
  margin-left: 80px;
  padding: 0;
}

.nav-item {
  display: inline-block;

  list-style: none;
}

.nav-item a {
  text-decoration: none;
}
.active {
  color: #282c34;
}

a {
  color: white;
}

.container {
  margin: 20px;
  padding: 10px;
  background-color: silver;
}

.label {
  color: #7d7d7d;
  position: sticky;
  padding: 10px;
  top: 3px;
  left: 0;
  transition: 0.2s ease-out all;
  font-size: 16px;
}
.input {
  color: #7d7d7d;
  font-size: 16px;
  border: none;
  line-height: 22px;
  width: 100px;
  background: none;
  padding: 10px;
  margin-bottom: 20px;
}

.btn-login {
  padding: 10px;
  margin-bottom: 20px;
  background-color: #61dafb;
  color: white;
}

.form {
  display: flex;
}

.warning {
  color: red;
}

.validation {
  padding-left: 10px;
}
.btn-start {
  width: 50%;
  padding: 10px;
  margin-top: 50px;
  margin-bottom: 20px;
  font-size: 22px;
  background-color: rgb(20, 199, 20);
  color: white;
}

.game-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
